aws-cdk.aws-ec2
aws-cdk.aws-ecs
aws-cdk.aws-ecs-patterns
aws-cdk.aws-logs
aws-cdk.aws-lambda
aws-cdk.aws-dynamodb
aws-cdk.aws-amplify
aws-cdk.aws-cognito
aws-cdk.cdk
terrascript # pygrid node is deployed in terraform
poetry

pytest
boto3

pip
setuptools